/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #45771b;
  }

  #header {
    font-size: 48px;
    text-align: center;
  }
  
  h3 {
    font-size: 24px;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  table {
    border-collapse: collapse; 
    width: 100%; 
    max-width: 800px; 
    margin: 0 auto; 
    background-color: #003cff;
    color: #ffffff;
  }
  
  th, td {
    border: 1px solid #00e1ff;
    padding: 0.5em;
    text-align: center;
  }
  
  th {
    background-color: #003cff;
  }
  
  ol, ul {
    margin-bottom: 1em;
    padding-left: 1em;
  }
  
  dl {
    margin-bottom: 1em;
  }
  
  dt {
    font-weight: bold;
    margin-top: 1em;
  }
  
  dd {
    margin-left: 2em;
  }
  
  /* Estilos específicos */
  img {
    display: block;
    margin: 0 auto;
  }
  
  #Pelicula {
    text-decoration: none;
  }
  
  #Pelicula:hover {
    text-decoration: underline;
  }
  
  caption {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
  }
  
  caption a {
    font-size: 16px;
  }
  
  caption a:hover {
    text-decoration: none;
    color: #000;
  }

   /* Estilos para el formulario */
   form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  /* Estilos para los campos de texto y etiquetas */
  input[type="text"], label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1em;
  }

  /* Estilos para los botones */
  input[type="submit"], input[type="reset"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  /* Estilos para los botones al pasar el cursor encima */
  input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #3e8e41;
  }